<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/homestyle.css' %}">
</head>
<body>
    <div class="container">
        <header>Master and Student Task Executer</header>
        <a href="/masterLogin"><button class="button">Master</button></a>
        <a href="/studentLogin"><button class="button">Student</button></a>
    </div>
</body>
</html>